.footer {
    position: absolute;
    display: flex;
    bottom: 0px;
    background-color: #262a34;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 0 50px 0;
}